:root {
	--tc-scroll-ofset: 0; //numeros negativos suelen funcionar bien

	@include media-breakpoint-up(md) {
		--tc-scroll-ofset: 0;
	}
}

body {
	background: #0D1694;
	font-family: 'BentonSans';
	font-weight: 400;
	color: #0D1694;
}

.tiempos {
	font-family: 'Tiempos';
}

.form-control {
	border-width: 2px;
	font-weight: 300;
	font-size: 14px;
	border-radius: 10px;

	&:focus,
	&:not(:placeholder-shown) {
		box-shadow: none;
	}

}

.form-floating {
	&>.form-control~label {
		opacity: 1;
		font-size: 14px;
		font-weight: 300;
		transform: translateY(-0.5rem) translateX(0.15rem);
		transition: font-size ease-in-out .15s;

		&:after{
			content:none!important;
		}
	}

	&>.form-control:focus~label,
	&>.form-control:not(:placeholder-shown):not(:focus)~label {
		font-size: 12px;
	}
}

.c-green {
	color: #88E783;
}

.c-white {
	color: #fff;
}

.c-blue-lt {
	color: #82C4FA;
}

.avatar {
	--w: 66px;
	border-radius: 50%;
	width: var(--w);
	height: var(--w);
	background-color: #FFB56B;
	color: #0D1694;
	position: relative;
	font-size: calc(var(--w) * .5);
	font-weight: 500;
	text-transform: uppercase;

	>span {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

}