.login-container {
    padding: 16px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;

    .form-control {
        background-color: #000519;

        &:focus,
        &:not(:placeholder-shown) {
            background-color: #000519;
            color: #fff;
            border-color: #fff;
        }
    }


    .form-floating {
        &>.form-control~label {
            color: #fff;
        }
    }


        &--inner {
            background-color: #11192C;
            border-radius: 10px;
            padding: 24px 20px 20px;
            max-width: 400px;
            width: 100%;
            color: #fff;
        }

        &--header {
            display: flex;
            margin-bottom: 18px;

            &_icon {
                width: 88px;
                flex-basis: 88px;
                flex-grow: 0;
                flex-shrink: 0;

                img {
                    width: 100%;
                    height: auto;
                }

            }

            .logo {
                font-size: 47px;
                color: #fff;
                max-width: 270px;
                line-height: 1em;
                margin-bottom: 0;
            }
        }

        &--label {
            margin-bottom: 25px;
            font-size: 16px;
        }

        &--message {
            font-size: 14px;
        }

        &--confirmation {
            margin: 80px 0;

            &_icon {
                width: 114px;
                margin: 0 auto 20px;

                img {
                    width: 100%;
                    height: auto;
                }
            }


            .login-container--label {
                margin-bottom: 50px;
            }
        }

        &--footer {
            .footer-copy {
                max-width: 340px;
                text-align: center;
            }
        }
    }